[Unit]
Description=prometheus sensor exporter server

[Service]
ExecStart=/pharmbio/robot_lab_ptometheus_exporters/start-lab-sensor-exporter.py

[Install]
WantedBy=multi-user.target
